@import "./global-variables.scss";

.page-post {
  .layout-fluid-container {
    position:relative;
    // overflow:hidden;
  }
  
  .page-header {
    h1.page-title {
      font-size:2.875em;
      margin:0;
      word-break:break-all;
    }

    p.page-createdDate {
      margin:4px 0 12px 0;
      text-transform:uppercase;
      font-weight:800;
      letter-spacing:-1px;
      color:$oc-gray-6;
    }

    h2.page-subtitle {
      font-size:1.625em;
      color:$oc-gray-8;
      font-weight:500;
      margin:0;
      word-break:break-all;
    }
  }

  .page-content {
    font-family:'Iropke Batang';
    font-size:1.125em;
    line-height:1.625em;
    letter-spacing:0.02em;
    word-break:keep-all;

    h1, h2, h3, h4, h5, h6 {
      font-family:'Noto Sans KR';
      display:flex;
      text-align:left;
      margin:1em 0 0.5em;

      .header-anchor {
        visibility:hidden;
        width:24px;
        font-size:0.875rem; // 14px
        background-color:$oc-gray-6;
        text-align:center;
        color:#fff;
        margin-left:6px;
        border-radius:6px;
        line-height:24px;
        text-decoration:none;
        align-self:center;
      }

      &:hover > .header-anchor {
        visibility:visible;
      }
    }

    h1 {
      font-size:2.875em; // 46px
      line-height:3.25rem; // 52px
    }

    h2 {
      font-size:2.375em; // 38px
      line-height:2.75rem; // 44px
    }

    h3 {
      font-size:1.75em; // 28px
      line-height:2rem; // 32px
    }

    h4 {
      font-size:1.5em; // 24px
      line-height:1.625rem; // 26px
    }

    h5 {
      font-size:1.125em; // 14pt(18px)
      line-height:1.125rem; // 18px
    }

    ul {
      padding-left:1.5em;

      & > li {
        font-size:1.125em; // 20px
        line-height:1.75em; // 32px

        ul > li {
          font-size:0.925em; // 16px
          line-height:1.75em; // 28px
        }
      }
    }

    img {
      display:flex;
      margin:0 auto;
      max-width:100%;
      height:auto;
    }

    code {
      display:inline-block;
      background-color:$oc-gray-1;
      padding:0 6px;
      border-radius:6px;
      font-size:0.75em;
      font-family:Consolas, Monaco, monospace;
      vertical-align:top;
    }

    blockquote {
      border-left:6px solid $oc-gray-6;
      padding:2px 12px;
      margin:6px 12px;
      background-color:$oc-gray-0;

      & > p {
        margin:12px 0;
      }
    }

    .image-block {
      padding:12px;
      margin:0;
      background-color:$oc-gray-0;
      border:1px solid $oc-gray-2;

      p {
        margin:0;
        font-size:0.825em;
      }

      img {
        max-width:100%;
      }

      figcaption {
        margin:0.75em 0 0;
        text-align:center;
      }

      &.full-size img{
        width:100%;
      }
    }
  }

  .page-footer {
    .page-footer-navigator {
      display:block;
    }

    .page-footer-comment {
      padding:32px 0;

      h2 {
        font-family:'Roboto';
        font-weight:400;
        text-transform:uppercase;
      }

      #utternaces-comment .utterances {
        max-width:100%;
      }
    }
  }
}
